/* Colors */
$pink: #D42BC0;
$purple: #9C228E;
$white: #fff;
$black: #333;
$dark-grey: #3C3632;
$dark-purple: #4C0B45;
$light-grey: #E6E6E6;
$mid-grey: #666666;
$arrow-grey: #737373;
$nav-grey: #f5f5f5;

/* Fonts */
$montserrat: 'Montserrat', sans-serif;
$nunito: 'Nunito', sans-serif;